*{
	font-family: 'Roboto', sans-serif;
}
.puzzleBlock{
	padding: 20px;
	border-radius: 10px;
	border: 1px solid grey;
	margin-left:20%;
	margin-right: 20%;
	padding-top: 10px;
	margin-bottom: 10px;
	transition: 1s;
}